<div id="profile" class="page">
  <header></header>
  <div class="columns">
    <div class="column">
  	 <h2>Profile</h2>
      <p>Which City you're in?</p>
      <select type="text" ng-model="user.city">
        <option value="">Select a city</option>
        <option value="Toronto">Toronto</option>
        <option value="GTA">GTA</option>
      </select>
      <p>Which Sport do you play?</p>
      <select type="text" ng-model="user.sport">
        <option value="">Select a sport</option>
        <option value="Basketball">Basketball</option>
        <option value="Baseball">Baseball</option>
        <option value="Hockey">Hockey</option>
        <option value="Football">Football</option>
        <option value="Soccer">Soccer</option>
      </select>
      <p>Which Type of Team do you play on?</p>
      <select type="text" ng-model="user.type">
        <option value="">Select a type</option>
        <option value="Womens">Womens</option>
        <option value="Mens">Mens</option>
        <option value="Coed">Co-Ed</option>
      </select>
      <p>Which League do you play on?</p>
      <select type="text" ng-model="user.league">
        <option value="">Select a league</option>
        <option value="Recreational">Recreational</option>
        <option value="Competitive">Competitive</option>
      </select>
      <button ng-click="updateUser()">Update Profile</button>
    </div>
    <div class="column">
      <h2>Create a team</h2>
      <p>Point of Contact Name:</p>
      <input type="text" ng-model="team.pocName"/>
      <p>Point of Contact Email:</p>
      <input type="text" ng-model="team.pocEmail"/>
      <p>Point of Phone Email:</p>
      <input type="text" ng-model="team.pocPhone"/>
      <p>Which City your team is in?</p>
      <select type="text" ng-model="team.city">
        <option value="">Select a city</option>
        <option value="Toronto">Toronto</option>
        <option value="GTA">GTA</option>
      </select>
      <p>Which Sport does your team play?</p>
      <select type="text" ng-model="team.sport">
        <option value="">Select a sport</option>
        <option value="Basketball">Basketball</option>
        <option value="Baseball">Baseball</option>
        <option value="Hockey">Hockey</option>
        <option value="Football">Football</option>
        <option value="Soccer">Soccer</option>
      </select>
      <p>Which Type of Team do you play on?</p>
      <select type="text" ng-model="team.type">
        <option value="">Select a type</option>
        <option value="Womens">Womens</option>
        <option value="Mens">Mens</option>
        <option value="Coed">Co-Ed</option>
      </select>
      <p>Which League does your team play on?</p>
      <select type="text" ng-model="team.league">
        <option value="">Select a league</option>
        <option value="Recreational">Recreational</option>
        <option value="Competitive">Competitive</option>
      </select>
      <button ng-click="newTeam()">Create</button>
    </div>
  </div>
</div>